[submodule "external/struggler"]
	path = external/struggler
	url = https://github.com/alekpinel/struggler
[submodule "external/ts-blockchain"]
	path = external/ts-blockchain
	url = https://github.com/trevelyan/ts-blockchain
